.list-item {
  font-size: 25px;
  font-family: roboto;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}
.letter-para {
  color: black;
  background-color: yellow;
  width: 30px;
  height: 30px;
}
.color {
  color: green;
  background-color: red;
}
